/* Search Bar */
.search {
  width: 100%;
}
.search-bar {
  width: 60%;
  display: inline;
}

/* Category List */
.categories {
    width: 20%;
    display:inline-block;
    background-color: rgba(255,0,0,0.5)
}

/* Menu Grid */
#menu-grid {
    /* display:inline-block; */
    display: inline-flex;
    width: 80%;
    flex-wrap: wrap;
    
    /* justify-content: space-around; */

  float: right;
  }

  #menu-grid div {
/* flex: 1 0 25%; */
    

/* flex: 0 0 25%; */
    
  }
  .menu-item {
    min-width: 25%;
    background-color: rgba(0,255,0,0.4);
}
  .menu-item:before {
    content:'';
    float:left;
    padding-top:100%;
  }



.menu-item .price:before {
content: "$"
}

