{% extends "_site.html" %}

{% set title = "Your Order" %}

{% block content %}
<style>
h1, p, div {
	color: white;
}
</style>
<h1>Order Summary</h1>
<p>Below are the details of your order:</p>

<h3>Total: $<span id="totalPrice"></span></h3>

<div id="orderItems">
	
</div>

</br>

<td align="center">
	<button id="submit" type="submit">Place Order</button>
</td>

<script>
function ready() {
	const intToDecimal = price => parseFloat(price/100).toFixed(2);

	let total = 0;
	for (item of GourmetBurgers.cart._data) {
		container = document.createElement('div');

		let price = GourmetBurgers.cart._calculate(item);
		total += price * item.qty;

		nameElement = document.createElement('span');
		nameElement.innerText = `${item.qty}x ${GourmetBurgers._menu[item.id].name} ($${intToDecimal(price)})`;
		
		container.appendChild(nameElement)

		if (item.custom) {
			ingredientElem = document.createElement('span');

			for (let ingredientID in GourmetBurgers._menu[item.id].components) {
				quantity = GourmetBurgers._menu[item.id].components.quantity;
				name = GourmetBurgers._inventory[ingredientID].name;
				suffix = GourmetBurgers._inventory[ingredientID].suffix;

				ingredientElem.innerText += `${quantity}${suffix} ${name}\n`;
			}
			container.appendChild(ingredientElem);
		}

		document.getElementById("orderItems").appendChild(container);
	}

	document.getElementById('totalPrice').innerText = intToDecimal(total);

	document.getElementById('submit').addEventListener('click', async function() {
		let json = await GourmetBurgers.cart.submitOrder();
		if (json.url) location.href = json.url;
	})
}
</script>
{% endblock %}