{% extends "_site.html" %} {% set title = "Order Status" %} {% block head %}
<!-- this is in the head -->
{% endblock %} {% block content %}
<!-- this in the content -->
<!doctype html>
<html>
   <head>
   <title>Check your order</title>
   </head>
   <body>
      <p> Order ID: #{{orderID}} </p>
      <p> Date: {{date}} </p>
      <p> Status: {{status}} </p> 
      <p> Price: ${{price}} </p>
      {% for item in items %}
            <li>{{item.name}} x{{item.quantity}} ${{item.price}}</li>
         {% endfor %}
      </Form>
   </body>
</html>
{% endblock %}