{% extends "_site.html" %}
{% set title = "Item Customise" %}
{% block head %}
<!-- this is in the head -->
{% endblock %}{% block content %}
<!-- this in the content -->

<style>
.right{float:right} 
</style>

<div>
    {% if not can_customise %}
    <h2>Warning</h2>
    <p>This item can't be customised.</p>
    {% endif %}
</div>

<div>
    {% if can_customise %}
    {% for component in components %}
        <l>{{component.name}}</l>
        <div class = right>
            {% if component.quantity != 0 %}
            <button name = decrease{{component.id}}, type = submit> - </button>
            {% endif %}
            {% if component.quantity == 0 %}
            <button name = decrease{{component.id}}, disabled = "disabled"> - </button>
            {% endif %}
            <input name="field_name" value={{component.quantity}} readonly = True/>
            {% if component.quantity != component.quantity_max %}
            <button name = increase{{component.id}}, type = submit> + </button>
            {% endif %}
            {% if component.quantity == component.quantity_max %}
            <button name = increase{{component.id}}, disabled = "disabled"> + </button>
            {% endif %}
        </div>
        <br>
        <br>
    {% endfor %}
    {% endif %}
</div>

{% endblock %}