{% extends "_site.html" %}
{% set title = "Item Customise" %}
{% block head %}
<!-- this is in the head -->
{% endblock %}{% block content %}
<!-- this in the content -->

<style>
.right{float:right} 
</style>

<div>
    {% if not can_customise %}
    <h1 align = "center">Warning!</h1>
    <h2 align = "center">This item can't be customised.</h2>
    {% endif %}
</div>

<div>
<form method="POST">
    {% if can_customise %}
    {% for component in components %}
        <l>{{component.name}}</l>
        <div class = right>
            {% if not quantities %}
                {% if component.quantity != 0 %}
                <button name = decrease{{component.id}} type = submit> - </button>
                {% endif %}
                {% if component.quantity == 0 %}
                <button name = decrease{{component.id}} disabled = "disabled"> - </button>
                {% endif %}
                <input name = "quantity{{component.id}}" value = {{component.quantity}} readonly = True/>
                {% if component.quantity != component.quantity_max %}
                <button name = increase{{component.id}} type = submit> + </button>
                {% endif %}
                {% if component.quantity == component.quantity_max %}
                <button name = increase{{component.id}} disabled = "disabled"> + </button>
                {% endif %}
            {% endif %}
            {% if quantities %}
                {% if quantities[component.id] != 0 %}
                <button name = decrease{{component.id}} type = submit> - </button>
                {% endif %}
                {% if quantities[component.id] == 0 %}
                <button name = decrease{{component.id}} disabled = "disabled"> - </button>
                {% endif %}
                <input name = "quantity{{component.id}}" value = {{quantities[component.id]}} readonly = True/>
                {% if quantities[component.id] != component.quantity_max %}
                <button name = increase{{component.id}} type = submit> + </button>
                {% endif %}
                {% if quantities[component.id] == component.quantity_max %}
                <button name = increase{{component.id}} disabled = "disabled"> + </button>
                {% endif %}
            {% endif %}
        </div>
        <br>
        <br>
    {% endfor %}
    <div class = right>
        <button name = addToCart type = submit>Add to cart</button>
    </div>
    {% endif %}
</form>
</div>


{% endblock %}
