{% extends "_site.html" %}

{% set title = "Order Completed" %}

{% block head %}
<!-- this is in the head -->
{% endblock %}

{% block content %}
<!-- this in the content -->

<body>

	<h2>Order Completed</h2>

	<br/>
		<div><p>Thank you for your order!</p>
			<div>
				Click button below to track your order with orderID {{orderID}}
			</div>
		</div>

		</br>
		<a href="/status#{{orderID}}"><button style="height: 30px"> Track my order </button></a>
<!-- 		<a href="{{url_for('orders_customer', filename = 'orders_customer.html')}}"><button style="height: 30px"> Track my order </button></a>
 --></body>

{% endblock %}