{% extends "_site.html" %}

{% set title = "Orders Overview" %}

{% block head %}
<!-- <head>Orders Staff</head> -->
<!-- this is in the head -->
{% endblock %}

{% block content %}
<!-- this in the content -->
</br>

<body>
	{{ orders }}
	<table width="100%" align="center" >
		<tr>
			<td>
				<table width="100%" border="1" style="width: 800px; height: 80px" align="center">
					<th>Orders ID</th><th>Order Details</th><th>Order Status</th><th>Change Status</th>		
					{% for order in orders %}
						<tr>
							<td align="center">order._id</td>
							{% for menuItem in order._items %}
								<td align="center">menuItem._name</td>
							{% endfor %}
							<td align="center">order._status</td>
							<td align="center">
								<!-- <input type = "button" value = "Cooked"> -->
								<button onclick="changeStatus()">Cooked</button>
								<p id="status"></p>
							</td>

							<script>
								function changeStatus(){
									// order._status = 
									document.getElementById("status").innerHTML = "Status Changed!";
								}
							</script>

						</tr>
					{% endfor %}
				</table>
			</td> 
		</tr>
	</table>
</body>

{% endblock %}