{% extends "_site.html" %}

{% set title = "Orders Overview" %}

{% block head %}
<!-- this is in the head -->
{% endblock %}

{% block content %}
<!-- this in the content -->
</br>

<body>
	<table width="100%" align="center" >
		<tr>
			<td>
				<table width="100%" border="1" style="width: 800px; height: 80px" align="center">
					<th>Orders ID</th><th>Order Status</th>
					<tr>
						<td>
							<ul>
								{% for order in orders %}
								
								{% endfor %}
							</ul>
						</td>
						<td>
							<ul>
								{% for order in orders %}
								
								{% endfor %}
							</ul>
						</td>
					</tr>
				</table>
			</td> 
		</tr>
	</table>
</body>

{% endblock %}