{% extends "_site.html" %}

{% set title = "Inventory" %}

{% block head %}
<!-- this is in the head -->
{% endblock %}{% block content %}
<!-- this in the content -->
<style>
thead {color:white;background-color:goldenrod;}
tbody {color:black;background-color:lemonchiffon}


table{
  border: 1px solid goldenrod;
}
</style>

<table style="width:100%">
	<thead><tr>
		<th>Name</th>
		<th>Stock Status</th>
		<th>Update Stock</th>
		<th>Eable/Disable</th>
	</tr></thead>

	<tbody>
		{% for key, ingredient in inventory.items() %}
		<tr>
			<td align="center">
				{{ingredient.name}}
			</td>

			<td align="center">
				{{ingredient.quantity}}/{{ingredient.quantity_max}} {{ingredient.suffix}}
			</td>
			
			<td align="center">
  <form method="POST" action="/staff/inventory/update">
    	<input name="new_stock" type="number" min = '0' max = '{{ingredient.quantity_max}}'>
    	<input name= "id" type ="hidden" value = "{{ingredient.id}}">
    	<button type="submit">Update</button>
  </form>
			</td>
			<td align="center">
				{{ingredient.available}} <input name="available" type="hidden" value="{{ingredient.id}}">
				<button type="submit">Eable/Disable</button>
			</td>
		</tr>
		{% endfor %}

	</tbody>

</table>

{% endblock %}